<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Mes Reservation</title>
</head>
<body>
<div layout:fragment="content">
<div class="container">

<div class="row">
<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
           <li style="width: 190px;"><a style="float: left;" th:if="${session.nom=='zitouni'}" th:href="@{/getStatistique}"  >Statitstique</a></li>
            <li style="width: 190px;"><a style="float: left;" th:if="${session.nom!='zitouni'}" href="#" >Profil  </a></li>
            <li ><a style="float: left;" href="#" th:href="@{/MesAnnonces}">Mes annoces</a></li>
            <li ><a href="#" th:href="@{/ListReservations}">Mes réservations</a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/HistoriqueReservations}">Mon Solde</a></li>
            <li><a href="#" th:href="@{/ajouterAnnonce}">Mes points</a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/ajouterEnfant}">Mes enfants </a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/ajouterAnnonce}">Messages<span class="badge"></span></a></li>
            <li><a href="#" th:href="@{/Avis}">Laisser un avis<span class="badge"></span></a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/ajouterAnnonce}">Reclamation<span class="badge"></span></a></li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">





<table class="table table-striped" style="color: black;">
  <thead>
    <tr class="bg-primary">
      <td scope="col">L'annoceur</td>
      <td scope="col">Prenom de votre enfant</td>
      <td scope="col">Date Annonce</td>
      <td scope="col">Prix</td>
      <td scope="col"></td>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ListReservation:${ListReservation}">
      <td th:text="${ListReservation.annonce.utilisateur.nom+' '+ListReservation.annonce.utilisateur.prenom}">@mdo</td>
      <td th:text="${ListReservation.enfant.prenom}">Otto</td>
      <td th:text="${ListReservation.annonce.date_annonce.toGMTString().substring(0, 11)}">Mark</td>
      <td th:text="${ListReservation.annonce.prix}">Mark</td>
      <td>
     <a class="btn btn-success" th:href="@{/DonnerAvis}+'?idAnnonce='+${ListReservation.annonce.numero_annonce}" >Donner un avis</a></td>
    
    </tr>
    
  </tbody>
</table>
</div>
</div></div></div>
</body>
</html>