<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Mes Reservation</title>
</head>
<body>
<div layout:fragment="content">
<div class="container">
<table class="table table-striped" style="color: black;">
  <thead>
    <tr class="bg-primary">
      <td scope="col">L'annoceur</td>
      <td scope="col">Prenom de votre enfant</td>
      <td scope="col">Date Annonce</td>
      <td scope="col">Prix</td>
      <td scope="col"></td>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ListReservation:${ListReservation}">
      <td th:text="${ListReservation.annonce.utilisateur.nom+' '+ListReservation.annonce.utilisateur.prenom}">@mdo</td>
      <td th:text="${ListReservation.enfant.prenom}">Otto</td>
      <td th:text="${ListReservation.annonce.date_annonce.toGMTString().substring(0, 11)}">Mark</td>
      <td th:text="${ListReservation.annonce.prix}">Mark</td>
      <td>
     <a class="btn btn-success" th:href="@{/DonnerAvis}+'?idAnnonce='+${ListReservation.annonce.numero_annonce}" >Donner un avis</a></td>
    
    </tr>
    
  </tbody>
</table>
</div>
</div>
</body>
</html>