<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">

<div th:each="listAnnonce:${listAnnonce}" class="card" style="color: black;border-color: black;border-style: solid double; border-width: 4px ">
 <form action="Reservation" method="post">
  <img class="card-img-top" src="..." alt="Card image cap"/>
  <input name="idAnnonce"   th:value="${listAnnonce.numero_annonce}"  />
  <div class="card-body">
    kjkklj<h5 class="card-title" th:text="${listAnnonce.date_annonce}">Date depart</h5>jjjjjj<h5 class="card-title" th:text="${listAnnonce.heure_depart}">Date depart</h5>
    <p class="card-text" th:text="${listAnnonce.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
     <button type="submit" class="btn btn-primary">Réservation</button>
   
  </div> 
  </form>



</div>

</div>

</body>
</html>