<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
 
</head>
<body>
<div layout:fragment="content">

<div class="container">
<form action="StatistiqueRecherche">
<p style="float: right;">
				<input type="text" style="height: 48px;background:#f8f8f8; color:slategray;" name="dateR" class="btn btn-default btn-lg" placeholder="Entrz une date AAAA" />
				 <button type="submit" class="btn bg-primary" role="button">Recherche</button></p>
 </form>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
           <li style="width: 190px;"><a style="float: left;" th:if="${session.nom=='zitouni'}" th:href="@{/getStatistique}"  >Statitstique</a></li>
            <li style="width: 190px;"><a style="float: left;" th:if="${session.nom!='zitouni'}" href="#" >Profil  </a></li>
            <li ><a style="float: left;" href="#" th:href="@{/MesAnnonces}">Mes annoces</a></li>
            <li ><a href="#" th:href="@{/ListReservations}">Mes réservations</a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/HistoriqueReservations}">Mon Solde</a></li>
            <li><a href="#" th:href="@{/ajouterAnnonce}">Mes points</a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/ajouterEnfant}">Mes enfants </a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/ajouterAnnonce}">Messages<span class="badge"></span></a></li>
            <li><a href="#" th:href="@{/Avis}">Laisser un avis<span class="badge"></span></a></li>
            <li style="width: 190px;"><a style="float: left;" href="#" th:href="@{/ajouterAnnonce}">Reclamation<span class="badge"></span></a></li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
 <div class="col-sm-9">
   
<table class="table table-striped" style="color: black;">
  <thead>
    <tr style="font-size:15px;"  class="bg-primary">
      <td scope="col">Mois</td>
      <td scope="col">Benifice</td>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ListStatistique:${ListStatistique}">
     <td style="color: maroon"  th:text="${ListStatistique.split('/')[0]}">Date depart</td>
      <td style="color: maroon"  th:text="${ListStatistique.split('/')[1]}">Date depart</td>
    </tr>
    
  </tbody>

</table>


</div>
</div>
<br/>
</div>
</div>

</body>
</html>